div{
    background-color: coral
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(80, 112, 255);

}

#Artigo1 {
    color: honeydew;
    margin-top: 50px;
}

#Artigo2 {
    color: rgb(45, 30, 255);
}


